@model IEnumerable<CategoryViewModel>

@{
    ViewData["Title"] = "Index";
    ViewData["PageTitle"] = "Category Managment";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<partial name="_ToasterMessage" />
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                CreatedDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.CreatedDate
            </td>
            <td>
                    <div class="d-flex align-items-center">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info m-1">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
               </div>
            </td>
        </tr>
}
    </tbody>
</table>
